<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
    <div class="middle" style="height: 393px;">
        <div class="w3-animate-zoom">
            <h1 class="w3-jumbo"><code>Access Denied</code></h1>
            <hr class="w3-border-black" style="margin:auto;width:100%">
            <h3>You dont have permission to view this.</h3>
            <h3>🚫🚫🚫🚫</h3>
            <h6>error code:403 forbidden</h6>
            <div>
                <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                    Take Me Home </a>
            </div>
        </div>
    </div>
</body>