<div class="container-fluid">
    <div class="row" style="margin: 20px;">
        <div class="ml-auto">
            <h2>Brands</h2>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a class="nav-link" [routerLink]="['/products', 'all']" routerLinkActive="activeStyle">All</a>
                    <span class="badge badge-primary badge-pill">{{this.allProducts.length}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let brand of this.Brands">
                    <a class="nav-link" [routerLink]="['/products', brand.name]" routerLinkActive="activeStyle">{{brand.name}}</a>
                    <span class="badge badge-primary badge-pill">{{brand.products.length}}</span>
                </li>
            </ul>
        </div>
        <div class="col-sm row justify-content-center">
                <div class="col-sm-3 border text-center" style="margin: 10px;" *ngFor="let product of this.currentBrand">
                    <img class="card-img-top img-fluid" src="/assets/{{product.imageURL}}" [alt]="product.Name">
                    <div class="card-body">
                        <h5 class="card-title">{{product.Name}}</h5>
                        <div *ngIf="product.Discount > 0; else noDiscount">
                            <h6><span class="discount">{{product.Price}}$</span> {{product.getPrice()}}$</h6>
                        </div>
                        <ng-template #noDiscount>
                            <h6>{{product.Price}}$</h6>
                        </ng-template>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-primary" style="margin: 5px;" [routerLink]="['/products', this.productsService.getBrandOfProductBySerial(product.Serial).name, product.Serial]">More Details</a>
                        <button type="button" class="btn btn-primary btn-md mr-1 mb-2" (click)="addToCart(product.Serial);"><i class="bi bi-cart-plus"></i>Add to cart</button>
                    </div>
                </div>
        </div>
    </div>
</div>